table{
    border:2px solid rebeccapurple;
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
td{
    border:2px solid rebeccapurple;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}
th{
    border-bottom:2px solid rebeccapurple;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
thead{
    background-color: rgb(219, 193, 248);
}
tbody{
    background-color: rgb(224, 222, 228);
}
a{
    background-color: rgb(238, 173, 230);
    padding: 7px;
    border-radius: 12px;
    text-decoration: none;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-image: url("../Images/sfondoarcobaleno.gif");
}

    